/* ||=========================Imported Fonts=========================|| */

/* Akwe Pro */
@import url(https://db.onlinewebfonts.com/c/ac0e2a52cde91599db7740be8cac996a?family=Akwe+Pro+ExtraBold+Italic); 
@font-face {
    font-family: "Akwe Pro ExtraBold Italic";
    src: url("https://db.onlinewebfonts.com/t/ac0e2a52cde91599db7740be8cac996a.eot");
    src: url("https://db.onlinewebfonts.com/t/ac0e2a52cde91599db7740be8cac996a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ac0e2a52cde91599db7740be8cac996a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ac0e2a52cde91599db7740be8cac996a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ac0e2a52cde91599db7740be8cac996a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ac0e2a52cde91599db7740be8cac996a.svg#Akwe Pro ExtraBold Italic")format("svg");
}

.logo, .welcome, .menu, .top-sellers, .top-rated{
    font-family: "Akwe Pro ExtraBold Italic"; 
}

.welcome, .menu, .top-sellers, .top-rated{
    text-decoration: underline;
    text-decoration-thickness: 11px;
    text-decoration-color: var(--cyan);
    text-decoration-skip-ink: none;
}

:root{
/* ||=========================Colors=========================|| */

    --red: #e22c3c;                
    --red-orange: #e9404b;         
    --orange: #ee6748;             
    --amber: #fa9f50;              
    --yellow: #ffd85e;             
    --lime: #97e768;               
    --mint: #52eea3;               
    --cyan: #51E1E9;          
    --cool-cyan: #43cfea;          
    --light-blue: #54b6f8;         
    --blue: #437cf3;               
    --blue-violet: #6f51f4;        
    --violet: #9446f8;             
    --purple: #c952ed;             
    --magenta: #e54f9b;            
    --hot-red: #e3365e;            
    --red: #dd1212;                
    --cool-gray: #515768; 
    --aliceblue: #f0f8ff;
    --light-gray: #F3F3F3;
    --black: #000000; 
    --pastel-cyan: #6EC5C1;        


/* ||=========================Color Presets=========================|| */

    --root-color: var(--aliceblue);
    --secondary-color: var(--light-gray)
}


.welcome{
    text-align: center;
    padding: 20px;
}

.firstimage{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}


/* ||========================= Top Sellers =========================|| */

.top-sellers{
    margin-top: 100px;
    text-align: center;
}

.sellers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 80px;
    margin: 100px;
}

.top-rated{
    margin-top: 100px;
    text-align: center;
}

.sellers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 80px;
    margin: 100px;  
}

.cont{
    height: 300px;
    width: 300px;
    background-color: var(--light-gray);
}

.cart-icon{
    margin-top: -50px;
    margin-left: 86%;
    background: var(--cyan);
    border-radius: 10px 0px 10px 0px;
    display: none;
}

.cont:hover .cart-icon {
    display: block;
    cursor: pointer;
}

.cart-icon img {
    width: 40px; /* Ajusta el tamaño del icono aquí */
    height: 40px; /* Ajusta el tamaño del icono aquí */
}

#item{
    transition: transform 0.3s ease;
}

#item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.item1{
    mix-blend-mode: multiply;
    height: 350px;
    width: 350px;
    margin-top: -50px;
    margin-left: -25px;
}


.item2{
    mix-blend-mode: multiply;
    padding-left: 12px;
    height: 290px;
    width: 270px;
}

.item3{
    mix-blend-mode: multiply;
    padding-left: 19px;
    height: 295px;
    width: 270px;
}

.item4{
    mix-blend-mode: multiply;
    padding-left: 12px;
    height: 295px;
    width: 275px;
}
.item5{
    mix-blend-mode: multiply;
    height: 295px;
    width: 295px;
}

.item6{
    mix-blend-mode: multiply;
    height: 292px;
    width: 292px;
}
.item7{
    mix-blend-mode: multiply;
    padding-top: 13px;
    height: 280px;
    width: 290px;
}.item8{
    mix-blend-mode: multiply;
    padding-left: 19px;
    padding-top: 12px;
    height: 285px;
    width: 265px;
}.item9{
    mix-blend-mode: multiply;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 270px;
    width: px;
}.item10{
    mix-blend-mode: multiply;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 2px;
    height: 260px;
    width: 260px;
}


.description{
    text-align: left;
    padding: 30px;
    margin-left: 0px;  
    padding: 10px 5px 3px 0px;
}

.price{
    text-align: left;
    padding: 30px;
    margin: 0px;  
    padding: 0px;
}
