/* ||=========================Imported Fonts=========================|| */

/* Akwe Pro */
@import url(https://db.onlinewebfonts.com/c/ac0e2a52cde91599db7740be8cac996a?family=Akwe+Pro+ExtraBold+Italic); 
@font-face {
    font-family: "Akwe Pro ExtraBold Italic";
    src: url("https://db.onlinewebfonts.com/t/ac0e2a52cde91599db7740be8cac996a.eot");
    src: url("https://db.onlinewebfonts.com/t/ac0e2a52cde91599db7740be8cac996a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ac0e2a52cde91599db7740be8cac996a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ac0e2a52cde91599db7740be8cac996a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ac0e2a52cde91599db7740be8cac996a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ac0e2a52cde91599db7740be8cac996a.svg#Akwe Pro ExtraBold Italic")format("svg");
}

.logo, .welcome, .menu, .top-sellers, .top-rated{
    font-family: "Akwe Pro ExtraBold Italic"; 
}

.welcome, .menu, .top-sellers, .top-rated{
    text-decoration: underline;
    text-decoration-thickness: 11px;
    text-decoration-color: var(--cyan);
    text-decoration-skip-ink: none;
}

:root{
/* ||=========================Colors=========================|| */

    --red: #e22c3c;                
    --red-orange: #e9404b;         
    --orange: #ee6748;             
    --amber: #fa9f50;              
    --yellow: #ffd85e;             
    --lime: #97e768;               
    --mint: #52eea3;               
    --cyan: #51E1E9;          
    --cool-cyan: #43cfea;          
    --light-blue: #54b6f8;         
    --blue: #437cf3;               
    --blue-violet: #6f51f4;        
    --violet: #9446f8;             
    --purple: #c952ed;             
    --magenta: #e54f9b;            
    --hot-red: #e3365e;            
    --red: #dd1212;                
    --cool-gray: #515768; 
    --aliceblue: #f0f8ff;
    --light-gray: #F3F3F3;
    --black: #000000;         


/* ||=========================Color Presets=========================|| */

    --root-color: var(--aliceblue);
    --secondary-color: var(--light-gray)
}

*{
    margin:0;
}

body{
    margin:0;
}

/* ||========================= Header =========================|| */

header{
    display: block;
    text-align: center;
    background-color: var(--secondary-color);
}

.logo{
    font-size: 60px;
}

.logocolor{
    color: var(--cyan)
}

.searchbar{
    border-radius: 100px;
    width: 500px;
    height: 35px;
    margin: 10px 0 25px 0;
    text-align: center;
    border: 0px;
}


.searchbar::placeholder {
    font-size: 20px;
    text-align: center;
    background-color: white;
    background-image: url('./src/images/icons8-search-24.png'); /*https://icons8.com/icons/set/search*/
    background-position: 10px 7px; 
    background-repeat: no-repeat;
  }

  input[type="text"]:hover {
    width: 500px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.09);
}

  input[type="text"]:focus {
    width: 500px;
    outline : none;
    
}

input:focus::placeholder {
    color: transparent;
  }

.naavitem{
    width: 100%;
    height: 30px;
    background-color: var(--black);
}

.welcome{
    text-align: center;
    padding: 20px;
}

.firstimage{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.nav{
    margin-top: -80px;
    margin-right: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

.icon{
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: filter 0.3s ease;
}

.icon:hover{
    filter: brightness(0) saturate(100%) invert(78%) sepia(8%) saturate(7488%) hue-rotate(137deg) brightness(101%) contrast(101%);
}

.naavitem{
    display: inline-block;
    padding: 2px;
    text-align: center;
}

.navitem{
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: var(--aliceblue);
    font-size: 20px;
}

/* ||========================= Instruments Menu =========================|| */
main{
    margin: 0 100px 0 100px;
}

.menu{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    justify-content: center;
    
    
}

.container > a {
    z-index: 1;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: left;

    width: 500px;
    color: var(--black);
    text-decoration: none;
    margin: 3px;
    margin-right: 20px;
    border-bottom: 3px solid ;
    border-color: var(--light-gray);
    /*background-color: #437cf3;**/
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.container > a:hover{
    color: #c952ed;
}

a > .title {
    padding-top: 50px;
}

a > .image{
    z-index: 0;
    width: 150px;
    display: block;
    position: left;
    }

.image > picture > img{
    width: 124px;
    height: 124px;
}

/* ||========================= Top Sellers =========================|| */

.top-sellers{
    margin-top: 100px;
    text-align: center;
}

.sellers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 80px;
    margin: 100px;
}

.top-rated{
    margin-top: 100px;
    text-align: center;
}

.sellers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 80px;
    margin: 100px;
}

.cont{
    height: 300px;
    width: 300px;
    background-color: var(--light-gray);
    
}

#item{
    transition: transform 0.3s ease;
}

#item:hover {
    transform: scale(1.05);
}

.item1{
    mix-blend-mode: multiply;
    height: 350px;
    width: 350px;
    margin-top: -50px;
    margin-left: -25px;
}


.item2{
    mix-blend-mode: multiply;
    height: 295px;
    width: 295px;
}

.item3{
    mix-blend-mode: multiply;
    height: 295px;
    width: 295px;
}

.item4{
    mix-blend-mode: multiply;
    height: 295px;
    width: 295px;
}
.item5{
    mix-blend-mode: multiply;
    height: 295px;
    width: 295px;
}

.item6{
    mix-blend-mode: multiply;
    height: 292px;
    width: 292px;
}
.item7{
    mix-blend-mode: multiply;
    padding-top: 7px;
    height: 290px;
    width: 290px;
}.item8{
    mix-blend-mode: multiply;
    padding-left: 6px;
    padding-top: 12px;
    height: 285px;
    width: px;
}.item9{
    mix-blend-mode: multiply;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 270px;
    width: px;
}.item10{
    mix-blend-mode: multiply;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 2px;
    height: 280px;
    width: 280px;
}
